*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.line{
    size: 1;
    width: 100%;
    color: black;
   
}
input[type=radio] {
    /* width: 20px;

    height: 20px; */
    transform: scale(1.5);
  }
  